/*====================================
	Animations
  ====================================*/
@keyframes title_hover {
  0% {
    border-color: #555;
  }
  100% {
    border-color: #fc0;
  }
}
@keyframes diminuer_opacity {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
/*====================================
	Globale
  ====================================*/
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.souligner {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 0px;
}
.degrader_transparent_noir {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+49,000000+93&0+49,1+93 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 49%, #000000 93%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 49%, #000000 93%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 49%, #000000 93%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
.titre_preview_bloc_media {
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 95%;
  color: white;
  display: block;
  font-size: 20px;
  border-left: 3px solid #fc0;
  padding-left: 20px;
  padding-right: 7%;
}
/*====================================
	Header
  ====================================*/
header {
  text-align: left;
  background-color: #555;
}
header a.call-to-action {
  display: inline-block;
  color: white;
  padding: 7px 0px;
  text-decoration: none;
}
header a.call-to-action span {
  font-weight: bold;
  text-decoration: underline;
}
header:hover {
  background-color: #fc0;
}
nav.nav_destokp {
  padding-top: 100px;
}
nav.nav_destokp .logo {
  text-align: center;
}
nav.nav_destokp .logo img {
  width: 300px;
}
nav.nav_destokp .menu {
  margin-top: 20px;
  margin-bottom: 70px;
}
nav.nav_destokp .menu ul {
  text-align: center;
  border-top: 2px solid #cccccc;
}
nav.nav_destokp .menu ul li {
  display: inline-block;
  padding: 25px 25px 0px 25px;
}
nav.nav_destokp .menu ul li a {
  color: black;
  position: relative;
  font-size: 22px;
}
nav.nav_destokp .menu ul li a:hover {
  text-decoration: none;
}
nav.nav_destokp .menu ul li:hover a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 0px;
}
/*====================================
	Article
  ====================================*/
article .intro .first-part {
  border-right: 1px solid black;
}
article .intro .first-part h1 {
  color: black;
  padding-right: 60px;
  margin-top: 0px;
  font-size: 39px;
}
article .intro .first-part p {
  color: #555;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
article .intro .second-part .auteur {
  font-size: 18px;
  color: black;
  text-decoration: none;
}
article .intro .second-part .auteur .first-word {
  color: #555;
  font-style: italic;
}
article .intro .second-part .auteur .identite {
  border-bottom: 1px dashed #555;
}
article .intro .second-part ul {
  padding-left: 0px;
  padding-top: 20px;
}
article .intro .second-part ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}
article .intro .second-part ul li i {
  font-size: 30px;
}
article .intro .second-part ul li i.fa-facebook {
  color: #3c5a99;
}
article .intro .second-part ul li i.fa-google-plus {
  color: #dc4e41;
}
article .intro .second-part ul li i.fa-twitter {
  color: #1da1f2;
}
article .intro .second-part ul li i.fa-envelope {
  color: black;
}
article .intro .second-part ul li:hover i {
  color: #555;
}
article .image-intro {
  height: 350px;
  overflow: hidden;
  display: flex;
}
article .image-intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
article .corps {
  padding-top: 70px;
}
article .corps .first-part p {
  font-size: 20px;
  padding-bottom: 20px;
}
article .corps .first-part .image-conteneur {
  padding-bottom: 45px;
  padding-top: 20px;
}
article .corps .first-part .image-conteneur img {
  width: 100%;
}
article .corps .first-part .image-conteneur .info {
  margin-top: 20px;
  border-left: 1px solid black;
  padding-left: 30px;
  color: #555;
}
article .corps .first-part .image-conteneur .info .credit {
  text-transform: uppercase;
  padding-top: 15px;
}
article .corps .first-part .image-conteneur .info .credit a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}
article .corps .first-part .publier-le {
  font-style: italic;
  color: #555;
  font-size: 16px;
}
article .corps .first-part .publier-le a {
  color: black;
  font-weight: bold;
}
article .corps .seconde-part .auto-promo {
  width: 80%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  text-align: center;
  position: relative;
}
article .corps .seconde-part .auto-promo .slogan {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 80%;
  height: 200px;
}
article .vous-aimerez-aussi {
  margin-top: 60px;
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 130px;
}
article .vous-aimerez-aussi .titre {
  width: 100%;
  font-size: 39px;
  text-align: center;
  color: black;
  padding: 0px 10px 45px 25px;
}
article .vous-aimerez-aussi .previews .preview-article {
  background-color: #3e3e3e;
  height: 380px;
  padding: 0px;
  position: relative;
  border-bottom: 8px solid #555;
}
article .vous-aimerez-aussi .previews .preview-article:hover {
  animation-name: title_hover;
  animation-duration: 0.5s;
  border-color: #fc0;
}
article .vous-aimerez-aussi .previews .preview-article:hover img {
  opacity: 0.3;
}
article .vous-aimerez-aussi .previews .preview-article a {
  width: 100%;
  height: 100%;
  display: block;
}
article .vous-aimerez-aussi .previews .preview-article a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
article .vous-aimerez-aussi .previews .preview-article a .preview_titre {
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 95%;
  color: white;
  display: block;
  font-size: 20px;
  border-left: 3px solid #fc0;
  padding-left: 20px;
  padding-right: 7%;
}
/*====================================
	Footer
  ====================================*/
footer {
  margin-top: 0px;
  background-color: #303338;
}
footer .first-part {
  min-height: 150px;
  padding: 25px 0px;
}
footer .first-part .title {
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
}
footer .first-part .newsletter .conteneur_champs_block_newsletter {
  position: relative;
}
footer .first-part .newsletter .conteneur_champs_block_newsletter input {
  display: block;
  width: 100%;
  padding: 10px 50px 10px 10px;
  color: white;
  background-color: #454851;
  border-color: #454851;
  border-width: 0px;
}
footer .first-part .newsletter .conteneur_champs_block_newsletter span {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  color: #feffff;
}
footer .first-part .plan ul {
  padding-left: 0px;
}
footer .first-part .plan ul li {
  padding: 3px 0px;
}
footer .first-part .plan ul li a {
  color: white;
  text-decoration: none;
}
footer .second-part {
  background-color: #202020;
}
footer .second-part ul {
  text-align: center;
  margin-bottom: 0px;
}
footer .second-part ul li {
  color: white;
  padding: 15px 15px;
  display: inline-block;
}
footer .second-part ul li a {
  color: white;
  text-decoration: none;
}
/*====================================
	Index
  ====================================*/
.bloc_hp {
  margin-bottom: 30px;
}
.bloc_hp .preview_2c a {
  display: block;
  width: 100%;
  background-color: red;
  height: 500px;
  -webkit-background-size: cover;
  background-size: cover;
}
.bloc_hp .preview_full a {
  display: block;
  width: 100%;
  background-color: green;
  height: 500px;
  -webkit-background-size: cover;
  background-size: cover;
}
.bloc_hp .preview_2c a,
.bloc_hp .preview_full a {
  display: block;
  position: relative;
}
.bloc_hp .preview_2c a div,
.bloc_hp .preview_full a div {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+49,000000+93&0+49,1+93 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 49%, #000000 93%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 49%, #000000 93%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 49%, #000000 93%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.bloc_hp .preview_2c a div span,
.bloc_hp .preview_full a div span {
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 95%;
  color: white;
  display: block;
  font-size: 20px;
  border-left: 3px solid #fc0;
  padding-left: 20px;
  padding-right: 7%;
}
/*====================================
	Mobile
  ====================================*/
@media (max-width: 1024px) {
  nav .menu ul li a {
    font-size: 18px;
  }
}
/*====================================
	Mobile
  ====================================*/
@media (max-width: 576px) {
  body {
    padding-top: 100px;
  }
  header {
    display: none;
  }
  nav.nav_destokp {
    display: none!important;
  }
  nav.nav_mobile {
    display: block!important;
    background-color: white;
    background-image: none;
  }
  nav.nav_mobile .navbar-toggle {
    border-color: white;
    background-color: #fc0;
  }
  nav.nav_mobile .navbar-toggle .icon-bar {
    color: white;
    background-color: white;
  }
  nav.nav_mobile .navbar-toggle:hover,
  nav.nav_mobile .navbar-toggle:focus {
    background-color: white;
    border-color: #fc0;
  }
  nav.nav_mobile .navbar-toggle:hover .icon-bar,
  nav.nav_mobile .navbar-toggle:focus .icon-bar {
    color: #fc0;
    background-color: #fc0;
  }
  nav .logo img {
    width: 200px;
    padding: 35px 0px 60px 0px;
  }
  nav .menu {
    display: none;
  }
  .bloc_hp .row .preview_2c:first-child {
    margin-bottom: 30px;
  }
  .bloc_hp .row .preview_2c a {
    height: 300px;
  }
  article .intro .first-part {
    border-right: 0px solid black;
  }
  article .intro .first-part h1 {
    font-size: 25px;
  }
  article .intro .first-part p {
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  article .intro .second-part {
    margin-top: 30px;
    border-left: 1px solid black;
    margin-left: 15px;
  }
  article .intro .second-part .auteur {
    font-size: 14px;
  }
  article .intro .second-part ul {
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  article .corps {
    padding-top: 30px;
  }
  article .corps .first-part p {
    font-size: 18px;
  }
  article .corps .first-part .image-conteneur .info {
    padding-left: 10px;
  }
  article .corps .first-part .image-conteneur .info .credit {
    font-size: 12px;
  }
}
